#.gitignore

# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
data/
*.csv

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
